<!doctype html>
<html lang="en">

<head>
    <title>RUVeg?</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">RUVeg(an)?</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <select id="switch" name="campus" onchange="showDiv(this)">
                    <option value="none">--select a campus--</option>
                    <option value="bc">Brower Commons</option>
                    <option value="bdh">Busch Dining Hall</option>
                    <option value="ldc">Livingston Dining Commons</option>
                    <option value="ndh">Neilson Dining Hall</option>
                </select>
                <p>🇪 - Vegan</p>
                <p>🇻 - Vegetarian</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <br>
                <div class="panel" id="table_bc" style="display: none;">
                    <div class="panel-heading text-center">
                      <h3>Brower Commons</h3>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        {% for i in bc_data['meals']: %}
                        {% if i['meal_name'] != 'Late Knight': %}
                          <li class="list-group-item" id="meal_name">{{ i['meal_name'] }}</li>
                          <ul class="list-group">
                          {% for j in i['genres']: %}
                            <li class="list-group-item" id="genre_name">{{ j['genre_name'] }}</li>
                            <ul>
                              {% for k in j['items']: %}
                                <li>{{ k }}</li>
                              {% endfor %}
                            </ul>
                          {% endfor%}
                          </ul>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel" id="table_bdh" style="display: none;">
                    <div class="panel-heading text-center">
                        <h3>Busch Dining Hall</h3>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        {% for i in bdh_data['meals']: %}
                        {% if i['meal_name'] != 'Late Knight': %}
                          <li class="list-group-item" id="meal_name">{{ i['meal_name'] }}</li>
                          <ul class="list-group">
                          {% for j in i['genres']: %}
                            <li class="list-group-item" id="genre_name">{{ j['genre_name'] }}</li>
                            <ul>
                              {% for k in j['items']: %}
                                <li>{{ k }}</li>
                              {% endfor %}
                            </ul>
                          {% endfor%}
                          </ul>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel" id="table_ldc" style="display: none;">
                    <div class="panel-heading text-center">
                        <h3>Livingston Dining Commons</h3>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        {% for i in ldc_data['meals']: %}
                        {% if i['meal_name'] != 'Late Knight': %}
                          <li class="list-group-item" id="meal_name">{{ i['meal_name'] }}</li>
                          <ul class="list-group">
                          {% for j in i['genres']: %}
                            <li class="list-group-item" id="genre_name">{{ j['genre_name'] }}</li>
                            <ul>
                              {% for k in j['items']: %}
                                <li>{{ k }}</li>
                              {% endfor %}
                            </ul>
                          {% endfor%}
                          </ul>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel" id="table_ndh" style="display: none;">
                    <div class="panel-heading text-center">
                        <h3>Neilson Dining Hall</h3>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        {% for i in ndh_data['meals']: %}
                        {% if i['meal_name'] != 'Late Knight': %}
                          <li class="list-group-item" id="meal_name">{{ i['meal_name'] }}</li>
                          <ul class="list-group">
                          {% for j in i['genres']: %}
                            <li class="list-group-item" id="genre_name">{{ j['genre_name'] }}</li>
                            <ul>
                              {% for k in j['items']: %}
                                <li>{{ k }}</li>
                              {% endfor %}
                            </ul>
                          {% endfor%}
                          </ul>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>